body{
    background-color: #222;
    color: #ea7200;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
h1, h2, h3{
    text-align: center;
    padding: 1rem;
    margin: 0;
}
main{
    display: flex;
    flex-flow: nowrap column;
}
a:link{
    color: #ea7200;
}
a:visited{
    color: #a31;
}
#forms{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
}
#forms input{
    border-radius: 5px;
    font-size: 14px;
    background-color: #111;
    color: #ea7200;
    border-color: #ea7200;
    margin: .5rem;
    padding: .25rem;
}
#forms select{
    margin: .5rem;
    padding: .25rem;
}
#forms > *{
    width: 288px;
    border: 2px solid #21c;
    border-radius: 5px;
    background-color: #000;
    margin: .5rem;
    padding: .5rem;
}
#enrollment{
    width: 100vw;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}
#unenrolled{
    border: 2px solid #ea7200;
    background-color: #000;
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
    flex: 1.6;
}
ul{
    padding: 0;
    list-style-type: none;
}
#schoolList{
    margin: .5rem;
    display: flex;
    flex-flow: wrap row;
    flex: 3;
}
#statistics{
    background-color: #111;
    border-radius: 5px;
    padding: 1rem;
}
.school{
    border: 2px solid #515;
    border-radius: 5px;
    background-color: #000;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    display: flex;
    flex-flow: nowrap column;
    width: 288px;
}
.student{
    display: flex;
    justify-content: space-between;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.columnNW{
    display: flex;
    flex-flow: column nowrap;
}
.spaced{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
#errorMessage{
    background-color: #ea7200;
    border-radius: 10px;
    color: #111;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}